.conteudoSignup {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-items: center; */
}

.formSignup {
  position: relative;
  transform: translateY(60%);
  width: 50%;
}

.formSignup h1 {
  text-align: center;
}

.formSignup input {
  width: 100%;
  padding: 8px;
  margin: 2.5px 0;
  border-radius: 8px;
  border: 1.5px solid gray;
}

.formSignup button {
  width: 100%;
  border-radius: 10px;
  border: none;
  background-color: #00a0ff;
  color: white;
  font-weight: bold;
  font-size: 1.1em;
  padding: 10px 0;
  margin: 10px 0
}

.formSignup a {
  color: #00a0ff;
  font-weight: bold;
}

.formSignup p {
  text-align: center;
  font-size: .9em;
}

@media screen and (min-width: 800px){
  .conteudoSignin {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-items: center; */
  }
  
  .formSignup {
    position: relative;
    transform: translateY(60%);
    width: 30%;
  }
  
  .formSignup h1 {
    text-align: center;
  }
  
  .formSignup input {
    width: 100%;
    padding: 8px;
    margin: 4px 0;
    border-radius: 8px;
    border: 1.5px solid gray;
  }

  .formSignup button {
    width: 100%;
    border-radius: 10px;
    border: none;
    background-color: #00a0ff;
    color: white;
    font-weight: bold;
    font-size: 1.1em;
    padding: 10px 0;
    margin: 10px 0
  }

  .formSignup button:hover {
    background-color: #00a0cf;
  }
  
  .formSignup a {
    color: #00a0ff;
    font-weight: bold;
  }
  
  .formSignup p {
    text-align: center;
    font-size: .9em;
  }
}